<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Premium Prediction Web Application</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" href="static/img/insurance-logo.png">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="static/img/insurance-logo.png" alt="website logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://github.com/praj2408/Insurance-Premium-Prediction-cicd">Github</a></li>
                    <li><a href="https://nixhantme.herokuapp.com/">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="section-body">
        <div class="insurance-detail">
        <h2>Insurance Premium Prediction</h2>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
    <div class="mb-3">
        <label class="form-label">Age</label>
        <input  type="number" name="bmi" placeholder="Enter your age" min="16" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Gender</label>
        <select class="custom-style" name="gender" placeholder="Enter your Gender" required>
            <option class="placeholder" selected disabled value="">Select your Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">BMI</label>
        <input  type="number" name="bmi" placeholder="Enter your bmi" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Children</label>
        <input  type="number" name="children" placeholder="Children" required>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Smoker</label>
        <select class="custom-style" name="smoker" placeholder="Do you smoke?" required>
            <option class="placeholder" selected disabled value="">Do you smoke?</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="">Region</label>
        <select class="custom-style" name="region" placeholder="Select your region" required>
            <option class="placeholder" selected disabled value="">Select your region</option>
            <option value="southwest">SouthWest</option>
            <option value="southeast">SouthEast</option>
            <option value="northwest">NorthWest</option>
            <option value="northeast">NorthEast</option>
        </select>
    </div> 


    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Predict Premium" required />
    </div>

    </form>
    </div>
    <div class="response-me">
                <h3 style="font-size: 2.2rem;">Predicted Premium</h3>

                    <h1 style="font-size:  2.2rem; color: rgb(9, 154, 31);">{{results}}</h1>

            </div>

     <div class="img-insure">
        <img src="static/img/home.png" alt="">
    </div>
</div>

</body>
</html>